$task_text_box_backgroundcolor: rgba(0, 0, 0, 0.05);
$task_card_btns_backgroundcolor: #fd7070;
$task_card_btns_backgroundcolor_hover: rgb(104, 197, 240);
$greetings_btns_backgroundcolor: #fd7070;
$greetings_text_color: #ff4640;
$greetings_backgroundcolor:  rgb(104, 197, 240, 0.2);
$create_task_btn_backgroundcolor: #fd7070;
$create_task_btn_backgroundcolor_hover: rgb(104, 197, 240);